.heading{
    display: block;
    text-align: center;
    padding-top: 50px;
    font-size: 20px;
    h2{
        text-align: right;
    }
}
.end{
    text-align: center;
    padding-top: 50px;
    font-size: 20px;
}
.con1{
    /* border: 2px solid black; */
    height: 600px;
    /* padding-left: 80px; */
    margin: 50px ;
    /* width: 100%; */
    text-align: center;
    background-color: rgb(244, 181, 202);
    
}
img{
    width: 100%;
    border-radius: 2%;
}
h3{
    font-size: 20px;
}
p{
    font-size: 20px;
}
.c11{
    display: inline-block;
    /* border: 1px solid red; */
    width: 20%;
    padding-left: 20px;
    /* height: 100%; */
}
.c12{
    display: inline-block;
    /* border: 1px solid red; */
    width: 20%;
   padding-left: 20px;
    /* height: 100%; */
} 
.c13{
     display: inline-block;
    /* border: 1px solid red; */
    width: 20%;
   padding-left: 20px;
    /* height: 100%; */
}
.con2{
    /* border: 2px solid black; */
    height: 600px;
    /* padding-left: 100px; */
    margin: 80px ;
    /* width: 100%; */
    text-align: center;
    background-color: rgb(234, 172, 192);
    
}
.c21{
     display: inline-block;
    /* border: 1px solid red; */
    width: 20%;
   padding-left: 20px;
    /* height: 100%; */
}
.c22{
     display: inline-block;
    /* border: 1px solid red; */
    width: 20%;
   padding-left: 20px;
    /* height: 100%; */
}
.c23{
    display: inline-block;
    /* border: 1px solid red; */
    width: 20%;
   padding-left: 20px;
    /* height: 100%; */
}